@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

header {
  background-color: rgb(255, 70, 85);
}

body {
  margin: 0;
  height: 100%;
  font-family: "Press Start 2P", cursive;
  background: rgb(228, 228, 228);
}
